/*
Syntax error: File to import not found or unreadable: _wikipedia.scss.
              Load paths:
                /home/pedro/projects/site/octopress/sass
                /home/pedro/.rvm/gems/ruby-1.9.3-p194@octopress/gems/compass-0.12.2/frameworks/blueprint/stylesheets
                /home/pedro/.rvm/gems/ruby-1.9.3-p194@octopress/gems/compass-0.12.2/frameworks/compass/stylesheets
                Compass::SpriteImporter
        on line 3 of /home/pedro/projects/site/octopress/sass/custom/_styles.scss
        from line 10 of /home/pedro/projects/site/octopress/sass/screen.scss

1: /home/pedro/projects/site/octopress/sass/screen.scss

Backtrace:
/home/pedro/projects/site/octopress/sass/custom/_styles.scss:3
/home/pedro/projects/site/octopress/sass/screen.scss:10
/home/pedro/.rvm/gems/ruby-1.9.3-p194@octopress/gems/sass-3.1.20/lib/sass/tree/import_node.rb:64:in `rescue in import'
/home/pedro/.rvm/gems/ruby-1.9.3-p194@octopress/gems/sass-3.1.20/lib/sass/tree/import_node.rb:42:in `import'
/home/pedro/.rvm/gems/ruby-1.9.3-p194@octopress/gems/sass-3.1.20/lib/sass/tree/import_node.rb:25:in `imported_file'
/home/pedro/.rvm/gems/ruby-1.9.3-p194@octopress/gems/sass-3.1.20/lib/sass/tree/visitors/perform.rb:149:in `rescue in visit_import'
/home/pedro/.rvm/gems/ruby-1.9.3-p194@octopress/gems/sass-3.1.20/lib/sass/tree/visitors/perform.rb:154:in `visit_import'
/home/pedro/.rvm/gems/ruby-1.9.3-p194@octopress/gems/sass-3.1.20/lib/sass/tree/visitors/base.rb:37:in `visit'
/home/pedro/.rvm/gems/ruby-1.9.3-p194@octopress/gems/sass-3.1.20/lib/sass/tree/visitors/perform.rb:18:in `visit'
/home/pedro/.rvm/gems/ruby-1.9.3-p194@octopress/gems/sass-3.1.20/lib/sass/tree/visitors/perform.rb:146:in `block in visit_import'
/home/pedro/.rvm/gems/ruby-1.9.3-p194@octopress/gems/sass-3.1.20/lib/sass/tree/visitors/perform.rb:146:in `map'
/home/pedro/.rvm/gems/ruby-1.9.3-p194@octopress/gems/sass-3.1.20/lib/sass/tree/visitors/perform.rb:146:in `visit_import'
/home/pedro/.rvm/gems/ruby-1.9.3-p194@octopress/gems/sass-3.1.20/lib/sass/tree/visitors/base.rb:37:in `visit'
/home/pedro/.rvm/gems/ruby-1.9.3-p194@octopress/gems/sass-3.1.20/lib/sass/tree/visitors/perform.rb:18:in `visit'
/home/pedro/.rvm/gems/ruby-1.9.3-p194@octopress/gems/sass-3.1.20/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/home/pedro/.rvm/gems/ruby-1.9.3-p194@octopress/gems/sass-3.1.20/lib/sass/tree/visitors/base.rb:53:in `map'
/home/pedro/.rvm/gems/ruby-1.9.3-p194@octopress/gems/sass-3.1.20/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/home/pedro/.rvm/gems/ruby-1.9.3-p194@octopress/gems/sass-3.1.20/lib/sass/tree/visitors/perform.rb:27:in `block in visit_children'
/home/pedro/.rvm/gems/ruby-1.9.3-p194@octopress/gems/sass-3.1.20/lib/sass/tree/visitors/perform.rb:39:in `with_environment'
/home/pedro/.rvm/gems/ruby-1.9.3-p194@octopress/gems/sass-3.1.20/lib/sass/tree/visitors/perform.rb:26:in `visit_children'
/home/pedro/.rvm/gems/ruby-1.9.3-p194@octopress/gems/sass-3.1.20/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/home/pedro/.rvm/gems/ruby-1.9.3-p194@octopress/gems/sass-3.1.20/lib/sass/tree/visitors/perform.rb:47:in `visit_root'
/home/pedro/.rvm/gems/ruby-1.9.3-p194@octopress/gems/sass-3.1.20/lib/sass/tree/visitors/base.rb:37:in `visit'
/home/pedro/.rvm/gems/ruby-1.9.3-p194@octopress/gems/sass-3.1.20/lib/sass/tree/visitors/perform.rb:18:in `visit'
/home/pedro/.rvm/gems/ruby-1.9.3-p194@octopress/gems/sass-3.1.20/lib/sass/tree/visitors/perform.rb:7:in `visit'
/home/pedro/.rvm/gems/ruby-1.9.3-p194@octopress/gems/sass-3.1.20/lib/sass/tree/root_node.rb:20:in `render'
/home/pedro/.rvm/gems/ruby-1.9.3-p194@octopress/gems/sass-3.1.20/lib/sass/engine.rb:300:in `_render'
/home/pedro/.rvm/gems/ruby-1.9.3-p194@octopress/gems/sass-3.1.20/lib/sass/engine.rb:247:in `render'
/home/pedro/.rvm/gems/ruby-1.9.3-p194@octopress/gems/compass-0.12.2/lib/compass/compiler.rb:140:in `block (2 levels) in compile'
/home/pedro/.rvm/gems/ruby-1.9.3-p194@octopress/gems/compass-0.12.2/lib/compass/compiler.rb:126:in `timed'
/home/pedro/.rvm/gems/ruby-1.9.3-p194@octopress/gems/compass-0.12.2/lib/compass/compiler.rb:139:in `block in compile'
/home/pedro/.rvm/gems/ruby-1.9.3-p194@octopress/gems/compass-0.12.2/lib/compass/logger.rb:45:in `red'
/home/pedro/.rvm/gems/ruby-1.9.3-p194@octopress/gems/compass-0.12.2/lib/compass/compiler.rb:138:in `compile'
/home/pedro/.rvm/gems/ruby-1.9.3-p194@octopress/gems/compass-0.12.2/lib/compass/compiler.rb:118:in `compile_if_required'
/home/pedro/.rvm/gems/ruby-1.9.3-p194@octopress/gems/compass-0.12.2/lib/compass/compiler.rb:103:in `block (2 levels) in run'
/home/pedro/.rvm/gems/ruby-1.9.3-p194@octopress/gems/compass-0.12.2/lib/compass/compiler.rb:101:in `each'
/home/pedro/.rvm/gems/ruby-1.9.3-p194@octopress/gems/compass-0.12.2/lib/compass/compiler.rb:101:in `block in run'
/home/pedro/.rvm/gems/ruby-1.9.3-p194@octopress/gems/compass-0.12.2/lib/compass/compiler.rb:126:in `timed'
/home/pedro/.rvm/gems/ruby-1.9.3-p194@octopress/gems/compass-0.12.2/lib/compass/compiler.rb:100:in `run'
/home/pedro/.rvm/gems/ruby-1.9.3-p194@octopress/gems/compass-0.12.2/lib/compass/commands/update_project.rb:45:in `perform'
/home/pedro/.rvm/gems/ruby-1.9.3-p194@octopress/gems/compass-0.12.2/lib/compass/commands/base.rb:18:in `execute'
/home/pedro/.rvm/gems/ruby-1.9.3-p194@octopress/gems/compass-0.12.2/lib/compass/commands/project_base.rb:19:in `execute'
/home/pedro/.rvm/gems/ruby-1.9.3-p194@octopress/gems/compass-0.12.2/lib/compass/exec/sub_command_ui.rb:43:in `perform!'
/home/pedro/.rvm/gems/ruby-1.9.3-p194@octopress/gems/compass-0.12.2/lib/compass/exec/sub_command_ui.rb:15:in `run!'
/home/pedro/.rvm/gems/ruby-1.9.3-p194@octopress/gems/compass-0.12.2/bin/compass:30:in `block in <top (required)>'
/home/pedro/.rvm/gems/ruby-1.9.3-p194@octopress/gems/compass-0.12.2/bin/compass:44:in `call'
/home/pedro/.rvm/gems/ruby-1.9.3-p194@octopress/gems/compass-0.12.2/bin/compass:44:in `<top (required)>'
/home/pedro/.rvm/gems/ruby-1.9.3-p194@octopress/bin/compass:19:in `load'
/home/pedro/.rvm/gems/ruby-1.9.3-p194@octopress/bin/compass:19:in `<main>'
/home/pedro/.rvm/gems/ruby-1.9.3-p194@octopress/bin/ruby_noexec_wrapper:14:in `eval'
/home/pedro/.rvm/gems/ruby-1.9.3-p194@octopress/bin/ruby_noexec_wrapper:14:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: File to import not found or unreadable: _wikipedia.scss.\A               Load paths:\A                 /home/pedro/projects/site/octopress/sass\A                 /home/pedro/.rvm/gems/ruby-1.9.3-p194@octopress/gems/compass-0.12.2/frameworks/blueprint/stylesheets\A                 /home/pedro/.rvm/gems/ruby-1.9.3-p194@octopress/gems/compass-0.12.2/frameworks/compass/stylesheets\A                 Compass::SpriteImporter\A         on line 3 of /home/pedro/projects/site/octopress/sass/custom/_styles.scss\A         from line 10 of /home/pedro/projects/site/octopress/sass/screen.scss\A \A 1: /home/pedro/projects/site/octopress/sass/screen.scss"; }
